.violet-color{
  color: #7071E8;
}

.purple-color{
  color: #C683D7;
}

.pink-color{
  color: #F875AA;
}

.yellow-color{
  color: #F4CE14;
}

.green-color{
  color: #44ce42;
}

.primary-text{
  color: #3c3c3c;
}

.secondary-text{
  color: #818080;
}